<div class="footer">
  <div class="footer-container">
    <div class="footer-border"></div>
    <div class="footer-text">
      <h1>About</h1>
      <div class="hidden-text">
        <p>Crypto Tracker is a website that runs on the Coin Gecko API.</p>
        <p>Its main purpose is to allow users to track, view and convert a number of crypto currencies that are availabe via coingecko.com.</p>
        <p>For more information about the inner workings of the website please visit my github page.</p>
        <p>If you would like to get in touch with me please due so via my LinkedIn profile.</p>
        <div class="links">
          <a href="https://github.com/DzoniTheNick" target="_blank"><img src="../../../assets/logos/Github.png" id="github"></a>
          <a href="https://www.linkedin.com/in/nikolapetrovic12/" target="_blank"><img src="../../../assets/logos/LinkedIn.png" id="linkedin"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow"></div>
</div>
